extends master.pug

block body
    include topbar.pug

    header
        .container
            h3.header-title Learn Responsive Images

    section.section-wrapper
        .container.container--bg
            .container__inner
                .level
                    h1 Level #{level}
                    .level__description
                        p #{levelData.description}
                        
                    .level__details
                        h3 Todo
                        .level__todo
                            .inner
                                | #{levelData.todo}
                        
                        if levelData.example
                            h3 Example
                            .level__example
                                .inner #{levelData.example}
                        
                        h3 Assets
                        .level__assets
                            .inner
                                ul
                                    each asset in levelData.assets
                                        li= asset

                    .level__solve
                        h2 Code!
                        .level__editor-wrapper
                            textarea.level__editor(type="text" rows="5" v-model="markup" value=levelData.starterMarkup)
                            button.level__compile(v-on:click="checkMarkup") Validate

                    .modal__overlay(v-show="correctAnswer", style="display: none")
                        .modal
                            .modal__body
                                .inner
                                    h2.modal__title #{levelData.messages.correct.headline}
                                    p.center #{levelData.messages.correct.text}
                                    if levelData.trophy
                                        h3.center You've earned a trophy!
                                        img(src="/img/trophies/"+levelData.trophy+"_1x.png", srcset="/img/trophies/"+levelData.trophy+"_1x.png 300w, /img/trophies/"+levelData.trophy+"_2x.png 600w", sizes="300px" class="center-block")
                                    p.center
                                        a.button.center-block(href=levelData.nextURL) Continue!

                    .modal__overlay(v-show="wrongAnswer", style="display: none;")
                        .modal
                            .modal__body
                                .inner
                                    h2.modal__title #{levelData.messages.wrong.headline}
                                    p.center #{levelData.messages.wrong.text}
                                    button.center-block(v-on:click="tryAgain") Try again!

                    iframe#render.hidden

block scripts
    script.
        window.levelData=!{JSON.stringify(levelData)}